@import '~styles/_variables';

.ui-checkbox {
  $cbsize: 1.5rem;
  display: flex;
  align-items: center;
  justify-content: center;
  width: $cbsize;
  height: $cbsize;
  color: var(--color-secondary);
  font-size: inherit;
  border: none;
  border: 2px solid var(--color-secondary);
  border-radius: 50%;
  background: inherit;
  cursor: pointer;
  &__checkmark::before {
    display: block;
    font-weight: normal;
    font-size: 0.75em;
    font-family: $font-icon;
    font-style: normal;
    font-variant: normal;
    line-height: 1em;
    text-align: center;
    text-transform: none;
    text-decoration: inherit;
  }
  &:hover &__checkmark::before {
    content: '\e801';
  }
  &__input {
    appearance: none;
  }
  &__input:checked + &__checkmark::before {
    content: '\e801';
  }
}
