@import '~styles/variables';

.ui-tabs {
  margin-bottom: 15px;
  color: inherit;
  &__list {
    display: flex;
    margin-bottom: 25px;
    list-style-type: none;
    input {
      border: none;
    }
  }
  &__item {
    padding: 5px;
    color: var(--color-secondary);
    &--active {
      color: var(--color-accent);
      border-bottom: 2px solid;
      border-radius: 0;
    }
  }
  &__btn {
    padding: 0.25em 0.5em;
    color: inherit;
    background: inherit;
    &:hover {
      cursor: pointer;
    }
  }
}
