html {
  font-size: 16px;
}
* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  font: 1rem $font-primary;
}
body {
  background: var(--background-primary);
}
.container {
  display: flex;
  flex-direction: column;
  min-height: 100vh;
  overflow: hidden;
}
.wrapper {
  width: 100%;
  max-width: 1024px;
  margin: 0 auto;
}
::-webkit-scrollbar {
  width: 4px;
  height: 4px;
}
::-webkit-scrollbar-track {
  background: var(--background-primary);
}
::-webkit-scrollbar-thumb {
  border-radius: 2px;
  background: var(--color-secondary);
}
::-webkit-scrollbar-thumb:hover {
  background: var(--color-accent);
}
