@import '~styles/variables';
@import '~styles/mixins';

.header {
  padding: 1rem 0;
  background-color: var(--background-secondary);
  &__content {
    display: flex;

    align-items: center;
    justify-content: space-between;
    padding: 0 1rem;
    @include for-size(tablet) {
      flex-wrap: wrap;
    }
  }
  &__logo {
    margin-right: 1.25rem;
    padding-left: 32px;
    color: var(--color-primary);
    font: bold 1.5rem $font-secondary;
    line-height: 1;
    text-decoration: none;
    background: url('~logo.svg') no-repeat left center / 24px;
    order: 1;
    @include for-size(mobile-large) {
      margin-right: 0;
      padding-left: 0;
      background: none;
    }
  }
  &__title {
    @include for-size(tablet) {
      font-size: 1.5rem;
    }
  }
  &__middle {
    order: 2;
    flex-grow: 1;
    @include for-size(tablet) {
      order: 3;
      width: 100%;
      padding: 2rem 0 1rem;
    }
  }
  &__right {
    display: flex;
    align-items: center;
    order: 3;
    .theme-toggler {
      width: 40px;
      height: 40px;
      font-size: 1.5rem;
      text-align: center;
      border-radius: 50%;
      &:hover {
        background: var(--background-secondary-hover);
      }
    }
    .language-selector {
      margin-right: 0.5rem;
      font-size: 1.25rem;
      &:hover {
        background: var(--background-secondary-hover);
      }
    }
    @include for-size(tablet) {
      order: 2;
    }
  }
}
