@import '~styles/variables';
@import '~styles/mixins';

.add-parcel-form {
  display: flex;
  justify-content: center;
  max-width: 600px;
  margin: 0 auto 3rem auto;
  &__input {
    flex-grow: 1;
    margin-right: 1rem;
  }
}
