@import '~styles/variables';
@import '~styles/mixins';

.parcel-list {
  display: flex;
  flex-wrap: wrap;
  gap: 2rem 1.5rem;
  justify-content: space-evenly;
  list-style-type: none;
  @include for-size(tablet) {
    gap: 1rem;
  }
  &__show-archived {
    display: flex;
    align-items: center;
    justify-content: flex-end;
    margin-bottom: 1.5rem;
    & > span {
      margin-right: 0.5rem;
    }
  }
  &__no-parcels {
    text-align: center;
  }
}
